#clockdiv{
	color: #fff;
	background-color: #428bca;
	font-weight: 100;
	text-align: right;
	font-size: 30px;
	border-radius:.5em;
	padding: .5em;
}


#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #5A5A5A;
	display: inline-block;
}